.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #1890ff;
  &.ant-breadcrumb-link {
    color: rgba(0, 0, 0, 0.45);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
}

.link-button:hover {
  color: #40a9ff;
}
.link-button:focus {
  text-decoration: none;
  color: #1890ff;
}
